@model WebApplication1.Models.State

@{ /*Importing namespace Microsoft.Extensions.Localization; */}
@using Microsoft.Extensions.Localization;

@{/*Injecting IStringLocalizer for Labelsc.s shared resource in variable named labelsLocalizer */}
@inject IStringLocalizer<Labels> labelsLocalizer


@{
    ViewData["Title"] = labelsLocalizer["CreateStateTitle"];
    var BusinessMessage = (WebApplication1.Business.BusinessMessage)ViewBag.BusinessMessage;
}
@*IN THIS VOEW WE'ARE GOING TO DISPLAY FEW INPUTS RELATED TO STATE *@
    <h1>@labelsLocalizer["Create"]</h1>

    <h4>@labelsLocalizer["State"]</h4>
<hr />
<div class="row">
    @if (BusinessMessage != null)
    {
        <div class="col-md-12">
            @if (BusinessMessage.Type == "Error")
            {
                <p class="text-danger">@BusinessMessage.Text</p>
            }
            else if (BusinessMessage.Type == "Warning")
            {
                <p class="text-warning">@BusinessMessage.Text</p>
            }
            else if (BusinessMessage.Type == "Success")
            {
                <p class="text-success">@BusinessMessage.Text</p>
            }
        </div>
    }

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@labelsLocalizer["Create"] class="btn btn-primary" />
            </div>
        </form>
    </div>



</div>

<div>
    <a asp-action="Index">@labelsLocalizer["Back to List"]</a>
</div>
<partial name="_jQuery" />
<partial name="_jQueryValidationScripts" />
