@model WebApplication1.Models.ViewModels.StateViewModel

@{ /*Importing namespace Microsoft.Extensions.Localization; */}
@using Microsoft.Extensions.Localization;

@{/*Injecting IStringLocalizer for Labelsc.s shared resource in variable named labelsLocalizer */}
@inject IStringLocalizer<Labels> labelsLocalizer

@{
    ViewData["Title"] = labelsLocalizer["Details"];
    var BusinessMessage = (WebApplication1.Business.BusinessMessage)ViewBag.BusinessMessage;
}

<h1>@labelsLocalizer["Details"]</h1>

@if (BusinessMessage != null)
{
    <div>
        @if (BusinessMessage.Type == "Error")
        {
            <p class="text-danger">@BusinessMessage.Text</p>
        }
        else if (BusinessMessage.Type == "Warning")
        {
            <p class="text-warning">@BusinessMessage.Text</p>
        }
        else if (BusinessMessage.Type == "Success")
        {
            <p class="text-success">@BusinessMessage.Text</p>
        }
    </div>
}
else
{
    <div>
        <h4>Site</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
}
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">@labelsLocalizer["Back to List"]</a>
</div>
