@model IEnumerable<WebApplication1.Models.ViewModels.StateViewModel>

@{
    ViewData["Title"] = "Index";
}
<partial name="_datatablesStyle" />
<h1>List of Sites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="states-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class='table-button button-edit' title='Edit' asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class='table-button button-details' title='Details' asp-action="Details" asp-route-id="@item.Id">Details</a>
                    |
                    <a class='table-button button-delete' title='Delete' asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_jQuery" />
<partial name="_datatablesScript" />

<script>
    //now lets make it a jquery datatables
    document.addEventListener("DOMContentLoaded", function () { $('#states-table').DataTable()});    
</script>