@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}



@{ /*Importing namespace Microsoft.Extensions.Localization; */}
@using Microsoft.Extensions.Localization;

@{/*Injecting IStringLocalizer for Labelsc.s shared resource in variable named labelsLocalizer */}
@inject IStringLocalizer<Labels> labelsLocalizer




<h1 class="text-danger">@labelsLocalizer["Error"].</h1>
<h2 class="text-danger">@labelsLocalizer["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@labelsLocalizer["Request ID:"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h4 class="text-danger">@Model.ErrorText</h4>
<h4 class="text-danger">@labelsLocalizer["Please contact your System Administrator."]</h4>

