@model IList<WebApplication1.Models.ViewModels.CandidateViewModel>

@{ /*Importing namespace Microsoft.Extensions.Localization; */}
@using Microsoft.Extensions.Localization;

@{/*Injecting IStringLocalizer for Labelsc.s shared resource in variable named labelsLocalizer */}
@inject IStringLocalizer<Labels> labelsLocalizer

@{
    ViewData["Title"] = labelsLocalizer["VotePageTitle"];
    var BusinessMessage = (WebApplication1.Business.BusinessMessage)ViewBag.BusinessMessage;
}


<partial name="_votingScenarioStyle" />
<h1 class="text-center" id="voting-title">@labelsLocalizer["Select your choice wisely"]</h1>
<br />

@if (BusinessMessage != null)
{
    <div>
        @if (BusinessMessage.Type == "Error")
        {
            <p class="text-danger text-center">@BusinessMessage.Text</p>
        }
        else if (BusinessMessage.Type == "Warning")
        {
            <p class="text-warning text-center">@BusinessMessage.Text</p>
        }
        else if (BusinessMessage.Type == "Success")
               {
            <p class="text-success text-center">@BusinessMessage.Text</p>
        }
    </div>
}
@if (Model != null)
{
    <div class="voting-container">

        @{
            string id = "";
        }
        @foreach (var candidate in Model)
        {
            @if (candidate.isNeutralOpinion == true)
            {
                id = "neutral-candidate";
            }
            <div class="candidate-container" id="@id">
                <p class="hidden-candidateId" hidden>@candidate.Id</p>
                <p class="candidate-name"><i class="fa fa-check-circle-o" aria-hidden="true"></i> @candidate.FirstName @candidate.LastName</p>
                <p>@candidate.StateName</p>
            </div>
        }

        <button type="button" id="vote-button" title="Validate Vote">
            <i class="fa fa-rocket" aria-hidden="true"></i>
        </button>
    </div>
}
<partial name="_jQuery" />
<partial name="_votingScenarioScript" />





@*BELOW WE DISPLAY THE CURRENT RESULTS OF THE ELECTION ONCE USER DOES THE VOTE ACTION*@
<div id="results-container" class="margins">
    <h1 class="margins">Current Results</h1>
    <div class="spinner-border text-primary" id="voting-spinner">

    </div>
    <div>
        <a asp-action="Index" asp-controller="Home">Back to home page</a>
    </div>
</div>


@*THE BELOW IS AN ERROR MODAL WE USE IT TO INFORM USER JUST IN CASE SOMETHING WENT WRONG*@
<partial name="_redModalStyle" />
<partial name="_redModal" />