@model WebApplication1.Models.ViewModels.VoterStateViewModel

@{ /*Importing namespace Microsoft.Extensions.Localization; */}
@using Microsoft.Extensions.Localization;

@{/*Injecting IStringLocalizer for Labelsc.s shared resource in variable named labelsLocalizer */}
@inject IStringLocalizer<Labels> labelsLocalizer

@{
    ViewData["Title"] = labelsLocalizer["Create a Voter"];
    var BusinessMessage = (WebApplication1.Business.BusinessMessage)ViewBag.BusinessMessage;
}




@*IN THIS VOEW WE'ARE GOING TO DISPLAY FEW INPUTS RELATED TO VOTER AND A LIST OF STATES FOR THE USER TO SELECT ONE OF THEM*@

<partial name = "_select2Style" />

<h1> @labelsLocalizer["Create"] </h1>

<h4 > @labelsLocalizer["Voter"] </h4>
<hr />
<div class="row">
    @if(BusinessMessage != null)
        {
        <div class="col-md-12">
            @if(BusinessMessage.Type == "Error")
        {
                <p class="text-danger">@BusinessMessage.Text</p>
    }
            else if (BusinessMessage.Type == "Warning")
            {
                <p class="text-warning">@BusinessMessage.Text</p>
}
            else if (BusinessMessage.Type == "Success")
            {
                <p class="text-success">@BusinessMessage.Text</p>
            }
        </div>
    }
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateID" class="control-label">@labelsLocalizer["State"]</label>
                <select asp-for="StateID" class="form-control" id="stateId">
                </select>
@*<select asp-for="StateID" class="form-control" size="1"
            asp-items="@(new SelectList(  Model.States, "Id", "Name"))" id="stateId">
        <option>Select a State</option>
    </select>*@
@*HOW SELECTLIST IN RAZOR WORKS?
    <select
        asp-for="AuthorId" (the selected value will be considered as AuthorId)
        size="1"
        asp-items="@(
        new SelectList(
        ListOfObjects,
        "object property to dislplay as 'value'",
        "object property to display as 'text'"
        ))"
        >*@
<span asp-validation-for="States" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value=@labelsLocalizer["Create"] class="btn btn-primary" />
</div>
</form>
</div>


</div>

<div>
    <a asp-action="Index">@labelsLocalizer["Back to List"]</a>
</div>


<partial name="_jQuery" />
<partial name="_select2Script" />
<partial name="_select2StatesListScript" />
<partial name="_jQueryValidationScripts" />
