@model WebApplication1.Models.ViewModels.PersonViewModel

@{ /*Importing namespace Microsoft.Extensions.Localization; */}
@using Microsoft.Extensions.Localization;

@{/*Injecting IStringLocalizer for Labelsc.s shared resource in variable named labelsLocalizer */}
@inject IStringLocalizer<Labels> labelsLocalizer

@{
    ViewData["Title"] = labelsLocalizer["Details"];
    var BusinessMessage = (WebApplication1.Business.BusinessMessage)ViewBag.BusinessMessage;
}



<h1>@labelsLocalizer["Details"]</h1>

<div>
    <h4>@labelsLocalizer["Voter"]</h4>
    <hr />
    @if (BusinessMessage != null)
    {
        <div class="col-md-12">
            @if (BusinessMessage.Type == "Error")
            {
                <p class="text-danger">@BusinessMessage.Text</p>
            }
            else if (BusinessMessage.Type == "Warning")
            {
                <p class="text-warning">@BusinessMessage.Text</p>
            }
            else if (BusinessMessage.Type == "Success")
            {
                <p class="text-success">@BusinessMessage.Text</p>
            }
        </div>
    }
    @if (Model != null)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StateName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StateName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.hasVoted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.hasVoted)
            </dd>
        </dl>
    }

</div>


<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">@labelsLocalizer["Back to List"]</a>
</div>
