@model WebApplication1.Models.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "Details";
    var BusinessMessage = (WebApplication1.Business.BusinessMessage)ViewBag.BusinessMessage;
}

<h1>Details</h1>
@if (BusinessMessage != null)
{
    <div class="col-md-12">
        @if (BusinessMessage.Type == "Error")
        {
            <p class="text-danger">@BusinessMessage.Text</p>
        }
        else if (BusinessMessage.Type == "Warning")
        {
            <p class="text-warning">@BusinessMessage.Text</p>
        }
        else if (BusinessMessage.Type == "Success")
        {
            <p class="text-success">@BusinessMessage.Text</p>
        }
    </div>
}
else
{
    <div>
        <h4>PersonViewModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StateName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StateName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.hasVoted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.hasVoted)
            </dd>
        </dl>
    </div>
}

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
