@model IEnumerable<WebApplication1.Models.Voter>

@{
    ViewData["Title"] = "Index";
}
<partial name="_datatablesStyle" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="voters-table">
    @*
            NO NEED FOR THE BELOW BECUZ WE ARE USING JQUERY DATATABLES SERVER SIDE PROCESSING

            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>*@
</table>

<partial name="_jQuery" />
<partial name="_datatablesScript" />

<script>
    //now lets make it a jquery datatables server side processing
    document.addEventListener("DOMContentLoaded", initializeDatatable);

    function initializeDatatable() {
        $("#voters-table").DataTable(
            {
                "processing": true,//whether to show 'processing' indicator when waiting for a processing result or not
                "serverSide": true,//for server side processing
                "filter": true,//this is for disable filter (search box)
                "ajax": {
                    "url": '/Voter/DataTable',
                    "type": 'POST',
                    "datatype":'json'
                },
                "columns":
                    [//These are the columns to be displayed, and they are the fields of the voters objects brought from the server
                        { "data": "Id", "visible": false, "searchable": false },
                        { "data": "FirstName", "name": "First Name", "visible": true, "searchable": true },
                        { "data": "LastName", "name": "Last Name", "visible": true, "searchable": true },
                        { "data": "State", "name": "State", "visible": true, "searchable": true },
                        {
                            "data": null, "searchable": false, "sortable": false,
                            "render": function (data, type, row, meta) {
                                var buttons =
                                "<a class='btn btn-secondary btn-sm' href=" + '@Url.Action("Edit")/' + row.Id + "><i class='fa fa-pencil-alt'></i></a>" + " " +
                                "<a class='btn btn-danger btn-sm' href=" + '@Url.Action("Delete")/' + row.Id +"><i class='fa fa-trash'></i></a>";
                                 return markup;
                            }
                            }
                    ]
            }
        );
    }


</script>
