@model WebApplication1.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}


<!--LETS LOAD THE CSS OF THE DASHBOARD-->
<partial name="_dashboardStyle"/>
<h1 class="margins">Welcome to Voting App</h1>
<hr />

    @if (!@Model.UserHasVoted)
    {
        <div id="vote-button-container">
            <a class="btn btn-default" asp-controller="Vote" asp-action="Index" title="Vote">
                Vote <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    }
    else
    {
        int i = 0;
        <div id="results-container" class="margins">
            <h3 class="margins">Updated Results</h3>

            @foreach (var candidate in Model.Candidates)
            {
                i++;
                //so it is the first candidate, lets add the cup icon to it
                <div class="one-result-container">
                    <div class="rank-container">
                        @if (i == 1)
                        {
                            <span><i class="fa fa-trophy" aria-hidden="true"></i></span>
                        }
                        else
                        {
                            <span>@i.ToString()</span>
                        }

                    </div>
                    <div class="candidate-data-container">
                        <p>@candidate.FirstName @candidate.LastName</p>
                        <p>@candidate.VotesCount Votes</p>
                    </div>
                </div>
            }
        </div>
    }



<div id="dashboard-container" class="margins">
    <div class="dashboard-item-container">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>@Model.NbCandidates Candidates</p>
    </div>
    <div class="dashboard-item-container">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>@Model.NbVoters Voters</p>
    </div>
    <div class="dashboard-item-container">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <p>@Model.NbVotes Votes</p>
    </div>
    <div class="dashboard-item-container">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <p>@Model.ParticipationRate.ToString("F2") %</p>
    </div>
</div>




