@*WE LOAD AN EMPTY VIEW THEN IT GETS FILLED USING JQUERY AJAX*@
@model WebApplication1.Models.ViewModels.DashboardViewModel

<style>
    .dashboard-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .dashboard-right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;        
        max-width: 280px;
        min-width: 280px;
        align-self:start;
    }

    .dashboard-left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-right: 1px solid #e6e6e6;
        padding-right: 3%;
        /*border: 1px solid black;*/
    }

    .margined-area {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .dashboard-item-container {
        text-align: center;
        font-size: 25px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        padding: 5%;
        margin: 3%;
    }

        .dashboard-item-container i {
            font-size: 250%;
        }


        #coming-elections-area .spinner-border{
            display:none;
        }
        #coming-elections-area .table{
            display:none;
        }




    .animated-button {
        font-size: 110%;
        animation-name: background-switch;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        /*the above line makes the transition between one animation and its next smooth*/
    }

@@keyframes background-switch {
    from {
        background-color: #212529;
        color: white;
    }

    to {
        background-color: white;
        color: #212529;
    }
}
</style>


<br />
<h1 class="margins text-center">Welcome to Voting App</h1>
<hr />
<br />
<div class="dashboard-holder">
    <div class="dashboard-left-side">
        <div id="current-election-area">
            <h3>Current Election</h3>
            <div class="spinner-border">

            </div>
        </div>

        <div class="margined-area" id="coming-elections-area">
            <h3>Future Elections</h3>
            <div class="spinner-border">

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            StartDate
                        </th>
                        <th>
                            Duration (days)
                        </th>
                        <th>
                            Number of Candidates
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div id="previous-elections-area">

        </div>
    </div>
    <div class="dashboard-right-side">
        <h2 class="text-center">Statistics</h2>
        <hr />
        <div class="dashboard-item-container">
            <i class="fa fa-university" aria-hidden="true"></i>
            <p>@Model.NbElections Elections</p>
        </div>
        <div class="dashboard-item-container">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <p>@Model.NbCandidates Candidates</p>
        </div>
        <div class="dashboard-item-container">
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>@Model.NbVoters Voters</p>
        </div>
        <div class="dashboard-item-container">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <p>@Model.NbVotes Votes</p>
        </div>
    </div>
</div>







<script>
    //Start loading things once the page is ready
    document.addEventListener("DOMContentLoaded", loadElectionsData);



    function loadElectionsData() {
        //1- Load Coming Elections, hide table and display spinner
        let comingElectionsArea = document.getElementById("coming-elections-area");
        displayElement(comingElectionsArea.querySelector(".spinner-border"));
        hideElement(comingElectionsArea.querySelector(".table"));
        loadComingElections();

        //2- Load Previous Elections

        //3- Load Current Election
        let currentElectionArea = document.getElementById("current-election-area");
        displayElement(currentElectionArea.querySelector(".spinner-border"));
        loadCurrentElection();
    }




    function loadComingElections() {
        //this function load a list of coming elections using jQuery ajax
    
    $.ajax({
        type: "POST",
        url: "/Election/GetComingElections",
        /*data: JSON.stringify(document.getElementById("candidate-id-holder").value),*/
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        error: function () {
            alert("error");
        },
        success: function (response) {
            //'response' represents the object returned from the api which is a list of future elections
            console.log(response);
            //console.log(response.length);
            displayComingElections(response);

            //window.location.href = "Home/Index";
        }
    });
    
    }
    function displayComingElections(comingElections) {
        let comingElectionsArea = document.getElementById("coming-elections-area");
        let table = comingElectionsArea.querySelector(".table");

        let tableBody = table.querySelector("tbody");

        for (let i = 0; i < comingElections.length; i++) {

            let tdName = document.createElement("td");
            tdName.innerText = comingElections[i].Name;
            
            let tdStartDate = document.createElement("td");
            tdStartDate.innerText = comingElections[i].StartDate;
            
            let tdDurationInDays = document.createElement("td");
            tdDurationInDays.innerText = comingElections[i].DurationInDays;

            let tdCandidatesCount = document.createElement("td");
            tdCandidatesCount.innerText = comingElections[i].Count;

            let electionRow = document.createElement("tr");
            electionRow.appendChild(tdName);
            electionRow.appendChild(tdStartDate);
            electionRow.appendChild(tdDurationInDays);
            electionRow.appendChild(tdCandidatesCount);

            tableBody.appendChild(electionRow);
        }


        //now lets display the tabl and hide the spinner                
        hideElement(comingElectionsArea.querySelector(".spinner-border"));
        displayElement(table);
    }



    function loadCurrentElection() {
         //this function load the current election using jQuery ajax
    
    $.ajax({
        type: "POST",
        url: "/Election/GetCurrentElection",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        error: function () {
            alert("error");
        },
        success: function (response) {
            //'response' represents the object returned from the api which is the current election
            console.log(response);
            //console.log(response.length);
            displayCurrentElection(response);

            //window.location.href = "Home/Index";
        }
    });
    }
    function displayCurrentElection(currentElection) {
        //console.log(currentElection);

        let currentElectionArea = document.getElementById("current-election-area");
        hideElement(currentElectionArea.querySelector(".spinner-border"));

        if (currentElection == null) {
            //so there is no current election, lets just display a simple text
            let p = document.createElement("p");
            p.innerText = "There is no Election currently!";
            currentElectionArea.appendChild(p);
        }
        else {
            //so there is an election currently, lets display its info with a 'Vote' button
            let name = document.createElement("p");
            name.innerText = "Name: ";
            let strongName = document.createElement("strong");
            strongName.innerText = currentElection.Name + " | " + currentElection.CandidatesCount + " Candidates";
            name.appendChild(strongName);

            let startdate = document.createElement("p");
            startdate.innerText = "Date: ";
            let strongDate = document.createElement("strong");
            strongDate.innerText = currentElection.StartDate;
            startdate.appendChild(strongDate);

            let durationindays = document.createElement("p");
            durationindays.innerText = "Duration (days): ";
            let strongDuration = document.createElement("strong");
            strongDuration.innerText = currentElection.DurationInDays;
            durationindays.appendChild(strongDuration);

            currentElectionArea.appendChild(name);
            currentElectionArea.appendChild(startdate);
            currentElectionArea.appendChild(durationindays);

            //lets now display the Vote button only if he hasnt voted yet
            if (!currentElection.HasUserVoted) {
                let voteButton = document.createElement("a");
            voteButton.className = "btn btn-default animated-button";
            voteButton.setAttribute("title", "Go Vote");
            voteButton.setAttribute("href", "Vote/Index/" + currentElection.Id);
            let icon = document.createElement("i");
            icon.className = "fa fa-chevron-right";
            icon.innerText = "Vote";
            voteButton.appendChild(icon);
            currentElectionArea.appendChild(voteButton);
            }
            
        }
    }











    function displayElement(elt) {
        //this function displays an element
        elt.style.display = "block";
    }
    function hideElement(elt) {
        //this function hides an element
        elt.style.display = "none";
    }
</script>














<!--


    THIS IS THE OLD DASHBOARD USED BEFORE INTRODUCING THE ELECTION NOTION




    @*@model WebApplication1.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}*@


@*LETS LOAD THE CSS OF THE DASHBOARD*@
<partial name="_dashboardStyle"/>
<h1 class="margins">Welcome to Voting App</h1>
<hr />

    @*@if (!@Model.UserHasVoted)
    {
        <div id="vote-button-container">
            <a class="btn btn-default" asp-controller="Vote" asp-action="Index" asp-route-currentElectionId="@Model.CurrentElectionId" title="Go Vote">
                Vote <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    }
    else
    {
        int i = 0;
        <div id="results-container" class="margins">
            <h3 class="margins">Updated Results</h3>

            @foreach (var candidate in Model.Candidates)
            {
                i++;
                //so it is the first candidate, lets add the cup icon to it
                <div class="one-result-container">
                    <div class="rank-container">
                        @if (i == 1)
                        {
                            <span><i class="fa fa-trophy" aria-hidden="true"></i></span>
                        }
                        else
                        {
                            <span>@i.ToString()</span>
                        }

                    </div>
                    <div class="candidate-data-container">
                        <p>@candidate.FirstName @candidate.LastName</p>
                        <p>@candidate.VotesCount Votes</p>
                    </div>
                </div>
            }
        </div>
    }*@



<div id="dashboard-container" class="margins">
    <div class="dashboard-item-container">
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>@*@Model.NbCandidates Candidates*@</p>
    </div>
    <div class="dashboard-item-container">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>@*@Model.NbVoters Voters*@</p>
    </div>
    <div class="dashboard-item-container">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <p>@*@Model.NbVotes Votes*@</p>
    </div>
    <div class="dashboard-item-container">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <p>@*@Model.ParticipationRate.ToString("F2") %*@</p>
    </div>
</div>
-->
